body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: 100%;
  	background-color: #000;
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
	font-family:'Vollkorn';
}


.line {
	width:600px;
	margin: 3em 0 3em 0em;
	text-align:center;
	border: 1px solid #fff;
}

.atmo_title{
	margin: 0 auto;
	text-align:center;
	padding: 1.5em 0 0 0;
	color: #fff;
	font-size: 100px;
}

.atmo_info{
	margin: 0 auto;
	text-align:center;
	padding: 1em 0 2em 0;
	color: #fff;
	font-size: 30px;
}

iframe {
	width: 100%;
}


button{
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 1em;
	height: 40px;
	width: 150px;
	line-height: 4px;
	margin: 10px;
	font-family:'Vollkorn';
	font-size: 16px;
}



.link {
display: block;
width: 250px;
margin: 0 auto;
}



button:hover {background-color: #fff; color: #000;}
button:focus {outline: none;}
button{cursor: pointer;}

a:link {color:#ffffff;}      /* unvisited link */
a:visited {color:#ffffff;}  /* visited link */
a:hover {color:#ffffff;}  /* mouse over link */
a:active {color:#ffffff;}